* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Balinese", sans-serif;
}

.main-content h1 {

  font-family: Noto Sans Balinese;
  font-size: clamp(1rem, 4vw, 4rem);
  font-weight: 800;
  line-height: 71px;
  text-transform: capitalize;
  text-align: left;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 20px;
  color: #6d6e71;
}

button {
  background: #ef4136;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
}

header {
  position: relative;
}

.con {
  max-width: 1440px;
  margin: 0 auto;
}

nav img {
  width: 20%;
}

nav {
  display: flex;
  padding: 30px 0px 20px 0;
  flex-direction: column;
  /* border: 2px solid red; */
  gap: 32px;
  justify-content: center;
  align-items: center;
}

nav button {
  border: none;
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  gap: 10px;
  background: #ef4136;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 4px;
}

nav>ul {
  font-size: 18px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

nav>ul>li>a {
  color: #232020;
  font-family: Noto Sans Balinese;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

nav::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #ef4136;
}

/* main section style will start */
.main-content {
  display: grid;
  padding: 100px 0;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  min-height: 600px;
}

/* .main-content .left {} */
.main-content .left {

  position: relative;
}

.main-content .left .content-wrapper {
  font-family: "poppins";
  position: absolute;
  max-width: 636px;
  width: 100%;
  left: 20%;
  background-color: rgb(250, 255, 253);
  box-shadow: 0px 0px 22.513891220092773px 0px #0000001a;
  padding: 32px 32px 48px 32px;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left .content-wrapper h1 {
  padding-right: 4rem;
}

.main-content .right {

  background: url("./image/home-hero-img\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 838px;
  height: 500px;
}

.main-content .left button {
  margin-top: 2rem;
}

span {
  color: #ef4136;
}

.main-content span::before {
  content: url(./image/Vector.png);
  position: absolute;

  top: 25%;
  left: -17px;
  scale: 0.9;
}

.offers {
  position: relative;
  padding: 5rem;
  margin: auto;
}

.main .v-img {
  position: absolute;
  bottom: -43px;
}

/* offer section styles will be started */
.offers h2 {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.offers h2::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 40px;
  right: 50%;
  transform: translateX(30%);
  height: 3px;
  background-color: #ef4136;
}

.offers .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.offers .cards .card-content {
  padding: 20px;
}

.card {

  box-shadow: 0px 0px 22.513891220092773px 0px #0000001A;

}

.card .img-wrapper {
  height: 200px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p,
.card h3 {
  line-height: normal;
  font-size: 1rem;
  text-align: center;
}

/* events */
.events {
  background-color: #fdebe5;
  padding: 100px 5rem;
  position: relative;
}

.events::before {
  content: url(image/array-left.png);
  position: absolute;
  left: 0;
  bottom: -1rem;
}

.events::after {
  content: url(image/arrow-right.png);
  position: absolute;
  right: 0;
  top: 0;
}

.events h2,
.blog h2 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.events h2::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 50px;
  right: 50%;
  transform: translateX(50%);
  height: 3px;
  background-color: #ef4136;
}

.events .cards,
.blog .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding: 0 5rem; */
  gap: 1rem;
}

.events .card {
  width: 100%;
}

.events .card .card-img {
  height: 200px;
}

.events .card .card-img img {
  width: 100%;
  height: 100%;
}

.events .card .card-content h3,
.blog .cards .card h3 {
  text-align: left;
  line-height: 1.5;
  font-size: 0.9rem;
  height: 80px;
}

.events .card .card-content {
  background-color: #fff;
  padding: 1rem;
}

.events .card .card-content>div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.events .card .card-content img {
  width: 24px;
  height: 24px;
}

.events .card .card-content a,
.blog .cards .card a {
  color: #ef4136;
}

.events button {
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.review {
  padding: 200px 0;
  display: flex;
  overflow: hidden;
  position: relative;
}

.review::before {
  content: url(image/double-arrow.png);
  position: absolute;
  left: 0;
  top: 35%;
  transform: translateY(-50%);
  z-index: -1;
}

.review::after {
  content: url(image/Quote\ Mark.svg);
  position: absolute;
  right: 0;
  top: 22%;
  transform: translateY(-50%);
  z-index: -1;
}

.review-head {
  margin-inline: 76px;
}

.review-head h2 {
  line-height: 1.5;
  width: 410px;
  position: relative;
  margin-bottom: 20px;
}

.review-head h2::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 50px;
  left: 0;
  height: 3px;
  background-color: #ef4136;
}

.review-head .btn-group {
  margin-left: -55px;
}

.review .cards {
  display: grid;
  grid-template-columns: repeat(2, 320px) 450px;
  gap: 2rem;
}

.review .cards .card {
  background-color: #fff;
}

.card .card-head h3,
p {
  text-align: left;
  font-size: 16px;
}

.card .card-details {
  margin-top: 24px;
  margin-bottom: 24px;
}

.review .cards .card p {
  text-align: left;
  font-size: 16px;
  color: var(--c-3, #6d6e71);
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.review .cards .card {
  width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(1, 23, 13, 0.1);
  padding: 30px 24px;
  border-radius: 8px;
}

.review .card-source {
  display: flex;
  margin-top: auto;
  align-items: center;
  gap: 1rem;
}

.blog {
  padding: 100px 3rem;
  background: #fdebe5;
}

.blog .cards .card {
  background-color: #fff;
  border-radius: 8px;
}

.blog .cards .card p {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.blog .card .card-details {
  padding: 1rem;
}

.blog .card .card-details h3 {
  height: unset;
}



/* profit section styles started */
.profit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  background-color: #F15A29;
  color: #fff;
  /* padding: 3rem;
  min-height: 500px; */
}

.profit .content {

  padding: 0 3rem;
}

.profit .content h3 {
  font-size: 2rem;

  margin-bottom: 20px;
}

.profit .content p {
  color: #fff;
  line-height: 24px;
}

.profit .content button {
  color: #EF4136;
  background-color: #fff;
  margin-top: 32px;

  font-weight: 600;
}

.profit .image {
  position: relative;
}

.profit .image img {
  height: 361px;
  /* scale: 1.02; */
}

.profit .image h3 {

  background: #00CD46;
  font-size: 28px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;

}

/* footer section will be started */
footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  padding: 3rem 5rem;
  background: #1A1A1A;

}

footer .top .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 46px;
  background-color: #fff;
  border-radius: 8px;
  align-items: center;
}

footer .top .content .left h3 {
  font-size: 32px;
}

footer .top .content .left p {
  color: #595959;
  line-height: 24px;
}

footer .top .content .right button {
  padding: 16px 32px;
  background-color: #EF4136;

}

footer .bottom .content .one p {
  color: #595959;
  margin-top: 41px;
  color: #fff;
  padding-right: 80px;
  line-height: 24px;
}

footer .bottom .content .one img {
  max-width: 263px;
}

footer .bottom .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

footer .bottom .content .quick {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .bottom .content .quick .social-icon ul {
  display: flex;
  gap: 24px;
}

footer .bottom .content .quick h5 {
  font-size: 18px;
  color: white;
}

footer .bottom .content .quick ul {
  list-style-type: none;
}

footer .bottom .content .quick ul li {
  margin-bottom: 16px;
}

footer .bottom .content a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width:1150px) {

  .main-content span::before {

    top: 29%;
    left: 31px;
    scale: 0.6;
  }

  .left .content-wrapper h1 {
    padding-right: 2.5rem;
  }

  .main-content .right {
    background-position: center;
  }

  .profit {
    padding: 100px 3rem;
  }

  .main .v-img {

    left: 0;
    bottom: -43px;
  }
}

@media screen and (max-width:1024px) {


  .main-content {
    grid-template-columns: 1fr;

    place-items: center;
  }

  .main-content .left .content-wrapper {
    position: unset;
    transform: unset;
  }

  .main-content .right {

    height: 500px;
    width: 100%;


  }

  .main-content .left .content-wrapper {

    max-width: 80%;
    margin: auto;
  }

  .offers .cards {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .offers .cards .card:nth-child(3) {
    grid-column: 1/-1;
    max-width: 60%;
  }

  .events .cards,
  .blog .cards {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .events .cards,
  .blog .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card .img-wrapper {
    height: 300px;
  }

  /* profit media query */
  .profit {
    gap: 24px;
    /* padding: 100px 3rem; */
    padding-bottom: 0;
    padding-right: 0;
    grid-template-columns: 1fr;
    justify-items: end;
  }

  .profit .content {
    width: 100%;
    max-width: unset;


  }

  footer .bottom .content {

    grid-template-columns: repeat(2, 1fr);

  }

  footer .bottom .content .one {
    grid-column: 1/3;
    grid-row: 3/3;
  }
}

@media screen and (max-width:850px) {
  nav>ul {
    display: none;
  }

  footer {
    padding: 3rem;
  }

  footer .top .content {
    padding: 22px 26px;
  }

  footer .top .content .left h3 {
    font-size: 1.5rem;
  }

  .profit .content {
    padding: unset;
  }
}

@media screen and (max-width:768px) {

  footer,
  .profit {
    padding: 100px 1.5rem;
  }

  .profit {
    padding-bottom: unset;
    padding-right: unset;
  }

  .offers,
  .events {
    padding: 3rem;
  }

  .events .cards,
  .blog .cards {
    grid-template-columns: 1fr;
  }

  .offers .cards {
    grid-template-columns: 1fr;
  }

  .offers .cards .card:nth-child(3) {
    grid-column: unset;
    max-width: unset;
  }

  footer .top .content {
    justify-content: center;
  }

  .events,
  .offers,
  .blog {
    padding: 100px 1.5rem;
  }

  .main-content .left .content-wrapper {
    max-width: unset;
  }
}

@media screen and (max-width:500px) {

  .profit .image img {
    width: 100%;
    height: unset;
  }

  @media screen and (max-width: 1024px) {
    footer .bottom .content {
      grid-template-columns: 1fr;
    }
  }

  footer .bottom .content .one {
    grid-column: unset;
    grid-row: unset;
  }

  .review-head {
    margin-inline: unset;
    padding: 0 1.5rem;
  }

  .review {
    justify-content: center;
    flex-wrap: wrap;
  }

  .review .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .review-head h2 {
    width: 100%;
  }

  .main-content .left .content-wrapper {
    padding: 1.5rem;
  }

  .profit {
    padding: unset;
  }

  .profit .content {
    padding: 1rem 1.5rem;
  }

  footer .bottom .content .one img {
    max-width: 263px;
    width: 40%;
  }

  .left .content-wrapper h1 {
    padding: unset;
  }
  .main-content .left .content-wrapper h1{
    line-height: 38px;
    font-size: 1.5rem;
  }
  .main-content span::before{
    top: 13%;
    left: -99px;
    scale: 0.37;
  }
  .main-content .right {
    background-position: 80%;
}
.main .v-img{
  display: none;
}
.events::after{
  display: none;
}
.main-content {
  display: grid;
  padding: 50px 0;
}
.profit .content h3 {
  font-size: 1.5rem;
  
}footer .top .content{
  padding: 10px;
  text-align: center;
}
footer .top .content .left h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
 
   
}
footer .top .content .right button{
  margin-top: 10px;
    padding: 10px;
}
footer .top .content .left p{
  text-align: center;
}
footer .bottom .content .one p{
  padding: unset;
}
}